<div class="main">
	<h1>Base Converter</h1>

	<form [formGroup]="myForm">

		<div class="form-group">
			<input type="text" name="decimal" 
			(ngModelChange) = "decChange(oldvalue, newvalue = $event)"
			placeholder="Decial Number" 
			formControlName="decimal">
		</div>
		<div class="form-group">
			<input type="text" name="binary"
			(ngModelChange) = "binChange (oldvalue, newvalue = $event)"
			placeholder="Binary Number" 
			formControlName="binary">
		</div>
		<div class="form-group">
			<input type="text" name="octal"
			(ngModelChange) = "octChange (oldvalue, newvalue = $event)"
			placeholder="Octal Number" 
			formControlName="octal">
		</div>
		<div class="form-group">
			<input type="text" name="hexa" 
			placeholder="Hexa Number" 
			formControlName="hexa">
		</div>
		
	</form>
</div>