.main {
	background: #607D8B;
	width: 30%;
	border: 2px solid #d7d7d7;
	margin: 20px auto;
	padding-bottom: 10px;
}
h1 {
	margin: 0;
	padding: 20px 0;
	color: #f2f2f2;
	text-align: center;
	font-family: sans-serif;
}
.form-group{
	padding: 3px;
	width: 90%;
	margin: 0 auto;
}
input[type='text']{
	width: 95%;
	padding: 5px;
}